*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    position: relative;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    padding: 20px 0px;
}

.menu{
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    padding-right: 80px;
}

.menu_item{
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: #000000;
}

body{
    font-family: 'Oswald';
    color: #000000;

}

li{
    display: inline;
    list-style-type: none;
    padding-right: 40px;
}

.menu_item:hover{
    color: #817070;
}


.full{
    top:400px;
    font-weight: 900;
    text-shadow: #FFFFFF;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
    font-weight: 800;
    padding-left: 80px;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:#000000;
    font-weight: 1000;
}

.content-img{
    filter: blur(5px);
}

.content-text{
    display: flex;
    justify-content: center;
    top: 400px;
    font-weight: 700;
    font-size: 60px;
    color:#FFFFFF;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.section-home{
    order: 1;
}

.section-story{
    order: 2;
}

.section-blog{
    order: 3;
}

.story{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.story-content{
    display: flex;
    justify-content:space-between ;
    padding: 100px 80px;
}

img{
    width: 100%;
    height: 100%;
}

.story-img{
    position: absolute;
    width: 600px;
    height: 400px;
}

.title-story{
    font-weight: 500;
    font-size: 36px;
    text-transform: uppercase;
    color: #000000;
    padding: 50px 0;
}

.story-text{
    padding-left: 720px;
    padding-top: 110px;
    padding-bottom: 110px;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    background-color: #EFEFEF;
}

.blog-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-blog{
    padding: 60px;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.blog-card{
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    margin: 0px 40px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.blog-card-title{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    padding: 20px 0px;
}

.blog-card-text{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    padding: 20px 20px
}

.footer{
    background-color: #817070;
}

.footer-title{
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 40px 0px;
}

.footer-element{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-email{
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    padding: 16px 90px;
}

.button-submit{
    color: #817070;
    background-color:#FFFFFF;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    margin: 40px 0px;
    cursor: pointer;
}

input{
    margin-left: 110px;
    color:#FFFFFF;
    font-size: 20px;
    box-sizing: border-box;
    align-items: center;
    background: #817070;
    border: 0px solid #FFFFFF;   
}

input::placeholder{
    font-family: 'Oswald';
    color:#FFFFFF;
    font-size: 26px;
    align-items: center;
}

.footer-year{
    color:#FFFFFF;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.subFooter{
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    color:#817070;
    padding: 20px 0px;
}